.detailsContainer {
    padding: 1rem;
  }

  .detailsContainer h2{
    /* Detalle de Certificado de Trabajador */
margin:1.5rem 0 2rem 0;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;

color: #383B45;


  }
  
  .backButton {
    background: none;
    border: none;
    color: #0048FF;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  

  
  .form {
 display: flex;
 flex-direction: column;
 gap: 2rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
  }
  
  .formGroup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .formGroup input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .exportButton {
   /* Rectangle 48 */
all: unset;
position: absolute;
width: 240px;
height: 50px;
text-align: center;
color: white;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
cursor: pointer;

background: linear-gradient(90deg, #0048FF 0%, #3887FF 100%);
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
border-radius: 25px;


  }
  
  .exportButton:hover {
    background-color: darkblue;
  }
  