.container{
    /* background-color: #f6f7f9; */
}

.container h1{
  font-weight: 500;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.container hr {
  margin-bottom: 2rem;
}

.tabContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    
  }
  
  .tabButton {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tabButton:hover {
    background-color: #f0f0f0;
  }
  
  .active {
    background-color: #e9ecef;
    color: blue;
    border: 1px solid blue;
  }
  
  .customButton {
    background-color: blue;
    color: white;
    border: none;
    padding: .8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .customButton:hover {
    background-color: darkblue;
  }
  